.DS_Store
.thumbs.db
FrontApp/node_modules
FrontApp/dist
FrontApp/obj
PointAdjustRobotAPI/bin
PointAdjustRobotAPI/bin
bin/
obj/
obj/Docker
Point_Adjust_Robot/.vs/
/.vs

# Quasar core related directories
/dist
/Log
/.Quasar

# Cordova related directories and files
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/node_modules

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.cache
*.vsidx
*.user
.vscode/tasks.json
/videos
FrontApp/cypress/videos/routes.cy.js.mp4
